/* Nested input sets */
form .nSet.cSet                             { float: none; }
form .nSet.cSet .nSetHead                   { margin-bottom: 0; }
form .nSet.cSet .nSetHead .displayToggler   { padding-left: 10px; font-size: .8571em; }
.js form .nSet.cSet .nSetHead + *   { display: none; }
form .nSet.cSet .nSetHead + *       { padding-right: 20px; padding-left: 22px; width: 100%;}
form .nSet.cSet li                  { float: none; margin-right: 20px; position: relative; }
form .nSet.cSet li:nth-child(odd)   { border-top: #ccc solid 1px; border-bottom: #ccc solid 1px; background-color: #f1efed; }

/* cSet: target sets */ /*@todo @uglymunky make this more generic so that it works for all .targetSet */
form .nSet.cSet li.targetSet { background-color: #ffee90; border-color: #fa8205; }
