.kvForm .clickableSet > .fSetInner label    { font-weight: normal; }

.nestedCheckboxSet .fSet              { border-bottom: #ccc 1px solid; padding: 8px 0; margin-bottom: 0; }
.nestedCheckboxSet .fSet:last-child   { border-bottom: 0; padding-bottom: 0; }
.nestedCheckboxSet .fSet:first-child  { padding-top: 0; }
.nestedCheckboxSet .fSetMsg           { float: right; text-align: right; }